[Desktop Entry]
Name=Connect to Yoda
Comment=A shortcut to connect to your Yoda data using WebDAV.
Exec=/usr/local/bin/user_mount_webdav.sh /path/to/mount
Icon={{ desktopfile_app_name  }}
Terminal=false
Type=Application
Categories=UU;Utility;Network;
